@font-face {
  font-family: Abaddon;
  src: url("./../assets/fonts/Abaddon/Abaddon_Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Abaddon;
  src: url("./../assets/fonts/Abaddon/Abaddon_Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
