.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

.page {
  margin: 0;
  font-family: Abaddon, sans-serif, Arial;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  text-transform: lowercase;
}

.page,
.page button,
.page a,
.page input,
.page label,
.page [role="button"] {
  cursor: url("./../assets/images/decor/cursor.png") 4 4, auto;
}

.page__main {
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;
  gap: 30px;
}

.background,
.background > .background,
.background > .background > .background,
.background > .background > .background > .background {
  width: 100vw;
  height: 100vh;
  background-size: auto 100vh;
  background-position: top left;
  background-repeat: repeat-x;
  image-rendering: pixelated;
}

.background {
  background-image: url("../assets/images/background/sea1.png");
  animation-duration: 200s;
}

.background > .background {
  background-image: url("../assets/images/background/sea2.png");
  animation-duration: 170s;
}

.background > .background > .background {
  background-image: url("../assets/images/background/sea3.png");
  animation-duration: 140s;
}

.background > .background > .background > .background {
  background-image: url("../assets/images/background/sea4.png");
  animation-duration: 100s;
}

.move {
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes move {
  from {
    background-position: 0;
  }

  to {
    background-position: -100vw;
  }
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 40px;
}

.header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: inherit;
  font-size: 30px;
  font-weight: bold;
  line-height: var(--header-height);
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: none;
  transition: all 0.2s ease-out;
}

.logo:hover {
  transform: scale(0.95);
  opacity: 0.6;
  transition: all 0.2s ease-in;
}

.logo:active {
  opacity: 1;
}

.nav__list {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  display: block;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 42px;
  font-family: inherit;
  text-transform: inherit;
  padding-inline: 36px;
  color: var(--color-accent);
  background-color: var(--color-bg-tranparent);
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid var(--color-border);
  transition: all 0.2s ease-out;
}

.btn:hover,
.btn:active,
.btn.current {
  background-color: var(--color-accent);
  color: var(--color-bg);
  border-color: var(--color-accent);
  transition: all 0.2s ease-in;
}

.btn_dark {
  background-color: var(--color-accent);
  color: var(--color-bg);
}

.btn_dark:hover,
.btn_dark.current {
  background-color: var(--color-bg-tranparent);
  color: var(--color-accent);
  border-color: var(--color-border);
}

.btn_dark:active {
  background-color: var(--color-accent);
  color: var(--color-bg);
  border-color: var(--color-accent);
}

.btn_dark:disabled {
  background-color: var(--color-accent);
  color: var(--color-bg);
  opacity: 0.5;
}

.main-btn {
  display: inline-block;
  font-size: 40px;
  line-height: 60px;
  font-family: inherit;
  color: var(--color-accent);
  border-radius: 30px;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-tranparent);
  padding-inline: 50px;
  transition: all 0.2s ease-out;
  margin-left: 50%;
  margin-top: calc(50vh - var(--header-height));
  transform: translate(-50%, -50%);
  text-decoration: none;
  text-transform: lowercase;
}

.main-btn:hover,
.main-btn:active {
  background-color: var(--color-accent);
  color: var(--color-bg);
  border-color: var(--color-accent);
  transition: all 0.2s ease-in;
}

.home {
  width: 100%;
}

.block {
  padding: 40px 0;
  background-color: var(--color-bg-tranparent);
  border-radius: 20px;
  border: 1px solid var(--color-border);
  width: calc(50% - 30px);
  box-sizing: border-box;
  height: calc(100vh - var(--header-height) - 5%);
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title {
  margin: 0;
  font-size: 40px;
  line-height: 1;
}

.subsection {
  padding: 0 50px;
  box-sizing: border-box;
}

.character {
  position: relative;

  --hero-size: 240px;

  height: var(--hero-size);
  width: var(--hero-size);
  margin-left: -50px;
}

.character__img {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("./../assets/images/heroes/turtle/Idle.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
  image-rendering: pixelated;
}

.hero_reverse .character__img {
  transform: scaleX(-1);
}

.idle {
  animation: idle 1s steps(4) infinite;
}

@keyframes idle {
  from {
    background-position: 0;
  }

  to {
    background-position: calc(var(--hero-size) * -4);
  }
}

.character::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid var(--color-border);
}

.profile__name {
  margin: 0;
  margin-bottom: 30px;
  font-size: 40px;
}

.list {
  margin: 0;
  margin-bottom: 30px;
}

.list__item {
  display: flex;
  font-size: 24px;
  gap: 5px;
  margin-bottom: 8px;
}

.list__key::after {
  content: ":";
}

.list__value {
  margin: 0;
  color: var(--color-accent);
}

.list_stats .list__item {
  position: relative;
  padding-left: 60px;
  margin-bottom: 50px;
  line-height: 40px;
}

.title_stats {
  margin-bottom: 40px;
}

.list_stats .list__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  background-image: url("./../assets/images/decor/win.png");
  background-position: center left;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.list_stats .list__item:nth-child(2)::before {
  background-image: url("./../assets/images/decor/fail.png");
}

.choose__title {
  text-align: center;
  margin-bottom: 20px;
}

.choose {
  padding-inline: 40px;
}

.cards {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  max-height: calc(100% - 80px);
}

.card {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid var(--color-border);
  border-radius: 20px;
}

.card__img-container {
  --hero-size: 170px;

  margin-left: 0;
}

.card__img {
  background-image: url("./../assets/images/heroes/turtle/Idle.png");
}

.card__img-container::before {
  border: 0;
  background-color: var(--color-accent);
}

.card:hover,
.card:active,
.card.active {
  border: 1px solid var(--color-accent);
  outline: 1px solid var(--color-accent);
  outline-offset: -2px;
}

.card.active::after {
  content: "";
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  height: 26px;
  width: 26px;
  background-image: url("./../assets/images/decor/check.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.card__name {
  color: var(--color-accent);
  font-size: 24px;
  margin-block: 20px;
}

.card .list {
  margin-bottom: 0;
}

.battle {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: calc(100vh - var(--header-height) - 5%);
}

.arena {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-around;
  padding: 20px 70px 40px;
  width: 100%;
  height: auto;
}

.battle .character {
  margin: 0;
}

.battle .character::before {
  display: none;
}

.life__container {
  height: 20px;
  width: 180px;
  background-color: #fff;
  border: 1px solid var(--color-border);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}

.life__range {
  inset: 0;
  background-color: var(--color-accent);
  position: absolute;
  border-right: 1px solid var(--color-border);
}

.form-container {
  padding-top: 30px;
  flex-grow: 1;
}

.form__groups {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 80px;
}

.form__group {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.form__btn {
  margin-left: 50%;
  transform: translateX(-50%);
}

.form__title {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input + span {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid var(--color-border);
  background-color: #fff;
  box-sizing: border-box;
}

input[type="radio"] + span {
  border-radius: 50%;
}

input[type="radio"]:checked + span::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--color-accent);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked + span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./../assets/images/decor/check_filled.svg");
  background-size: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
}

.form__input {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.form__label {
  font-size: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.life__value {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.log {
  width: 100%;
  height: auto;
}
