.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.page {
  margin: 0;
  font-family: Abaddon;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  text-transform: lowercase;
}

.page__main {
  width: 100%;
  height: calc(100vh - var(--header-height));
}

.background,
.background > .background,
.background > .background > .background,
.background > .background > .background > .background {
  width: 100vw;
  height: 100vh;
  background-size: auto 100vh;
  background-position: top left;
  background-repeat: repeat-x;
}

.background {
  background-image: url("../assets/images/background/sea1.png");
  animation-duration: 120s;
}

.background > .background {
  background-image: url("../assets/images/background/sea2.png");
  animation-duration: 100s;
}

.background > .background > .background {
  background-image: url("../assets/images/background/sea3.png");
  animation-duration: 80s;
}

.background > .background > .background > .background {
  background-image: url("../assets/images/background/sea4.png");
  animation-duration: 60s;
}

/* .move {
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
} */

@keyframes move {
  from {
    background-position: 0;
  }
  to {
    background-position: -100vw;
  }
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 40px;
}

.page__header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
}

.logo-link {
  font-family: inherit;
  font-size: 30px;
  font-weight: bold;
  line-height: var(--header-height);
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.nav__list {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  display: block;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 42px;
  font-family: inherit;
  text-transform: inherit;
  padding-inline: 36px;
  color: var(--color-accent);
  background-color: var(--color-bg-tranparent);
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid var(--color-border);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.btn:hover,
.btn:active,
.btn.current {
  background-color: var(--color-accent);
  color: var(--color-bg);
  border-color: var(--color-accent);
  transition: all 0.2s ease-in;
}

.btn_dark {
  background-color: var(--color-accent);
  color: var(--color-bg);
}

.btn_dark:hover,
.btn_dark:active,
.btn_dark.current {
  background-color: var(--color-bg-tranparent);
  color: var(--color-accent);
  border-color: var(--color-border);
}

.main-btn {
  display: inline-block;
  font-size: 40px;
  line-height: 60px;
  font-family: inherit;
  color: var(--color-accent);
  border-radius: 30px;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-tranparent);
  padding-inline: 50px;
  transition: all 0.2s ease-out;
  margin-left: 50%;
  margin-top: calc(50vh - var(--header-height));
  transform: translate(-50%, -50%);
  cursor: pointer;
  text-decoration: none;
}

.main-btn:hover,
.main-btn:active {
  background-color: var(--color-accent);
  color: var(--color-bg);
  border-color: var(--color-accent);
  transition: all 0.2s ease-in;
}

.block {
  padding: 40px 0;
  background-color: var(--color-bg-tranparent);
  border-radius: 20px;
  border: 1px solid var(--color-border);
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.page_profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.title {
  margin: 0;
  font-size: 40px;
  line-height: 1;
}

.subsection {
  padding: 0 50px;
  box-sizing: border-box;
  height: calc(100vh - 2 * var(--header-height));
}

.hero__img-container {
  position: relative;
  --hero-size: 240px;
  height: var(--hero-size);
  width: var(--hero-size);
  margin-left: -50px;
}

.hero__img {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("./../assets/images/heroes/turtle/Idle.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
  image-rendering: pixelated;
}

.idle {
  animation: idle 1s steps(4) infinite;
}

@keyframes idle {
  from {
    background-position: 0;
  }

  to {
    background-position: calc(-240px * 4);
  }
}

.hero__img-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  height: 55%;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid var(--color-border);
}

.hero__name {
  margin: 0;
  margin-bottom: 30px;
  font-size: 40px;
}

.list {
  margin: 0;
  margin-bottom: 30px;
}

.list__item {
  display: flex;
  font-size: 24px;
  gap: 5px;
  margin-bottom: 8px;
}

.list__key::after {
  content: ":";
}

.list__value {
  margin: 0;
  color: var(--color-accent);
}

.stats__item {
  position: relative;
  padding-left: 60px;
  margin-bottom: 50px;
  line-height: 40px;
}

.title_stats {
  margin-bottom: 40px;
}

.stats__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  background-image: url("./../assets/images/decor/win.png");
  background-position: center left;
  background-repeat: no-repeat;
}

.stats__item:nth-child(2)::before {
  background-image: url("./../assets/images/decor/fail.png");
}
